<div class="row" *ngIf="dis">
  <div class="p-5 mt-5 col-lg-3 col-sm-3">
<img src="{{prductDetails.image}}" class="w-100 h-50">
   <div  class="p-2 d-flex justify-content-between" > <div class="px-2">
      <button class="btn btn-dark " (click)="edit(prductDetails.productId)">Save</button>
    </div>
    <div class="px-2">
      <button class="btn btn-dark " (click)="toggle()">Edit Details</button>
    </div>
   </div>
  </div>
  <div class="p-5 col-lg-9 col-sm-3">
    <div class="mb-4">
      <h4>Name :-</h4>
      <input type="address" value="{{prductDetails.name}}" size="100" class="pl-2 p-1 bg-warning" [disabled]="disabled" [(ngModel)]="prductDetails.name">
    </div>
    <div class="mb-4">
      <h4>Category :-</h4>
      <input type="address" value="{{prductDetails.category}}" size="100" class="pl-2 p-1 bg-warning" [disabled]="disabled" [(ngModel)]="prductDetails.category">
    </div>
    <div class="mb-4">
      <h4>SubCategory :-</h4>
      <input type="address" value="{{prductDetails.subcategory}}" size="100" class="pl-2 p-1 bg-warning" [disabled]="disabled" [(ngModel)]="prductDetails.subcategory">
    </div>
    <div class="mb-4">
      <h4>Price :-</h4>
      <input type="address" value="{{prductDetails.price}}" size="100" class="pl-2 p-1 bg-warning" [disabled]="disabled" [(ngModel)]="prductDetails.price">
    </div>
    <div class="mb-4">
      <h4>Details :-</h4>
      <input type="address" value="{{prductDetails.address}}" size="100" class="pl-2 p-1 bg-warning" [disabled]="disabled" [(ngModel)]="prductDetails.details">
    </div>
    <div class="d-flex justify-content-around w-75">
      <div><button routerLink="/home" class="bg-dark text-light">Home</button> </div>
    </div>
  </div>
</div>
<div class="row d-flex flex-wrap bg-dark text-light m-5" *ngIf="!dis">
  <div class="col-lg-3 col-sm-3 p-5">
    <img src="{{prductDetails.image}}" class="rounded">
  </div>
  <div class="col-lg-9 col-sm-3 font-weight-bolder p-5">
    <div class="p-2">{{prductDetails.name}}</div>
    <div class="p-2">₹{{prductDetails.price}}</div>
    <div class="p-2">{{prductDetails.category}}</div>
    <div class="p-2">{{prductDetails.subcategory}}</div>
    <div class="p-2">{{prductDetails.details}}</div>
    <div class="p-2"><button class="btn btn-light" (click)="addCart()">Add To Cart!!</button></div>
  </div>
  </div>
<div class="d-flex justify-content-center align-content-center"><button routerLink="/home" class="btn btn-dark text-light">Home</button> </div>





