<div style="display: flex">
  <div class="p-5">
<img src="{{prductDetails.image}}" height="300px;" width="300px;">
  </div>
  <div class="p-5">
    <div class="font-weight-bolder p-2">{{prductDetails.name}}</div>
    <div class="p-2">{{prductDetails.category}}</div>
    <div class="abcd p-1"><b>Details:</b></div>
    <div class="pb-2">{{prductDetails.details}}</div>
    <div class="p-2">₹{{prductDetails.price}}</div>
    <div class="p-2"><button (click)="addCart()">ADD TO CART</button></div>
  </div>
</div>

