
<marquee><div class="a">Let's add something new!!!</div></marquee>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
  <input type="text" class="form-control border-0 w-75 bg-warning text-dark" id="usr" placeholder="Enter category" name="category" [(ngModel)]="category" >
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
  <input type="text" class="form-control border-0 w-75 bg-warning text-dark" id="pwd" placeholder="Enter product Name" name="name" [(ngModel)]="name" >
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
  <input type="number" class="form-control border-0 w-75 bg-warning text-dark" id="em" placeholder="Enter price" name="price" [(ngModel)]="price" >
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3 ">
  <input type="text" class="form-control border-0 w-75 bg-warning text-dark" id="em1" placeholder="Enter subcategory" name="subcategory" [(ngModel)]="subcategory">
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3 ">
  <input type="text" class="form-control border-0 w-75 bg-warning text-dark" id="contact" placeholder="Enter image source" name="image" [(ngModel)]="image">
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3 ">
  <input type="text" class="form-control border-0 w-75 bg-warning text-dark" id="details" placeholder="Enter product details" name="details" [(ngModel)]="details">
</div>
<div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3 row">
<div class="pr-5 mr-5 col-3"><button class="bg-dark text-light mr-5 " (click)="saveData()">Add product</button></div>
 <div class="col-4"></div>
  <div class="col-3"><button class="bg-dark text-light mr-5 " routerLink="/home">Home</button> </div>
</div>
