<head><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>
<body><div class="two w-50 mx-auto mb-5 pb-4" style="background-color: blue;">
  <div class=" text-center py-3 px-3">
    <button type="button" class="close text-white" data-dismiss="alert">&times;</button>
  </div>
  <div class="px-auto py-4  text-center">
    <h2>
      SIGN UP!!!
    </h2>
  </div>
  <div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
    <i class="material-icons text-dark pr-4">perm_identity</i>
    <input type="Username" class="form-control border-0 w-75 " id="usr" placeholder="Username" name="Username" [(ngModel)]="username" >
  </div>
  <div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
    <i class="material-icons text-dark pr-4">fingerprint</i>
    <input type="password" class="form-control border-0 w-75 " id="pwd" placeholder="Password" name="Username" [(ngModel)]="password" >
  </div>
 <!-- <div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3">
    <i class="material-icons text-dark pr-4">email</i>
    <input type="email" class="form-control border-0 w-75 " id="em" placeholder="Enter valid E-mail id" name="Email Address" [(ngModel)]="email" >
  </div>
  <div class="w-75 bg-white mx-auto px-3 form-inline my-3 mb-3 ">
    <i class="material-icons text-dark pr-4">email</i>
    <input type="password" class="form-control border-0 w-75 " id="em1" placeholder="Confirm Email id" name="Confirm Email-address" [(ngModel)]="email">
  </div>!-->

  <div class="w-75 text-white mx-auto text-center py-2 mt-5" style="background-color:#19B8CD;">
    <button style="background-color: rgba(0,0,0,0);border: none;" (click)="finalData()">SIGN UP</button>
  </div>
  <div class="w-75 text-white mx-auto text-center mt-2 mb-5">
    Forgot Password?
  </div>
</div>
</body>
