<div class="p-5">
<table style="text-align: center;border-collapse: collapse" border="1px solid black">
  <tr class="p-3">
    <th>Images</th>
    <th>Product Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let a of prod" class="p-3">
   <td class="p-5"><img src="{{a.items.image}}" height="120px" width="120px"></td>
    <td class="p-5">{{a.items.name}}</td>
    <td class="p-5">{{a.items.category}}</td>
    <td class="p-5">₹{{a.items.price}}</td>
    <td class="p-5"><div style="display: flex"><div><button (click)="increament(a.items.productId)">+</button></div><div  class="border border-dark"><input type="text" value="{{a.quantity}}"></div><div><button (click)="decreament1(a.items.productId)">-</button></div></div></td>
    <td class="p-5"><button class="bg-danger text-light" (click)="deletecart(a.items.productId)">Remove</button></td>
  </tr>
</table>
</div>
