<div>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand head" routerLink="/home">
     <marquee>Shop&Shop</marquee>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>

          </div></div>
      </form>

      <div class="navbar-nav t" style="padding-left: 600px;">
        <a routerLink="/login" class="nav-item nav-link"><i class="fa fa-sign-in pr-1"></i>Login</a>
        <a routerLink="/signup" class="nav-item nav-link"><i class="fa fa-user-plus pr-1"></i>Sign Up</a>
        <a routerLink="/profile" class="nav-item nav-link"><i class="fa fa-user pr-1"></i>My Profile</a>
        <a  class="nav-item nav-link" (click)="logout()"><i class="fa fa-sign-out pr-1"></i>Logout</a>
        <a class="nav-item nav-link" routerLink="/cart">Cart</a>
      </div>
  </nav>
</div>
