.an{
font-family: Impact, Charcoal, sans-serif;
}
.a
{
  background-color: black;
  color: aliceblue;
  padding-right: 90px;
  padding-left: 90px;
}
.o
{
  font-family: Comic Sans MS, cursive, sans-serif;
}
.hi
{
  font-family: Comic Sans MS, cursive, sans-serif;
}
.abc
{
  font-family: Comic Sans MS, cursive, sans-serif;
}
.u:hover
{
  background-color: lightyellow;
}
.fi
{
  position: sticky;
}
.ofc
{
  display: flex;
}
.c
{
  height: 250px;width: 250px;border-radius: 25px;
}
