.an{
font-family: Impact, Charcoal, sans-serif;
}
.a
{
  background-color: black;
  color: aliceblue;
}
.o
{
  font-family: Comic Sans MS, cursive, sans-serif;
}
.hi
{
  font-family: Comic Sans MS, cursive, sans-serif;
}

